@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet');

body {
    font-family: 'DM Sans', sans-serif;
    background: #77D9F0;
}

body, html {
    height: 100vh;
}
.wrapper {
    width:90%;
    margin: 0 auto;
    display: grid;
}


h1,h2 {
    font-family: 'Oswald';
}

.profile {
    float: left;
    margin-right: 20px;
    height: 200px;

}

button {
    border; 1px solid pink;
    height: 30px;
    width: 100px;
    font-size: 1.2em;
}

.bad {
    color: red;
}

.good {
    color:green;
}