html {
   text-align: center;
   display: flex;
   justify-content: space-around;
   background-color: rgb(156, 104, 104);
}

header {
   background: pink;
}

h1 {
   color:rgb(156, 104, 104);;
   font-family: 'Courier New', Courier, monospace;
}